@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter text-text-color;
}

.doing-shadow:hover {
  box-shadow: rgba(121, 91, 25, 0.05) 0px 6px 24px 0px,
    rgba(121, 91, 25, 0.08) 0px 0px 0px 1px;
}

.custom-scrollbar {
  scrollbar-width: 2px; /* For Firefox */
  scrollbar-color: rgba(220, 220, 220, 0.6) transparent; /* Scrollbar color (track and thumb) */
}

/* For Webkit browsers (e.g., Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* For Webkit browsers (e.g., Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

/* For Webkit browsers (e.g., Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220, 0.6); /* Thumb color */
  border-radius: 10px;
}
